.app.light {
    --bg-color: #bebebe;
    --inverted-bg-color: #0840ba;
    --primary-color: #031b7d;
    --secondary-color: #4256dabf;
    --inverted-primary-color: #0a9c2e;
    --inverted-secondary-color: #0dc93cbf;
}